@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-sans);

  /* Custom animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-fade-up: fade-up 0.7s ease-out forwards;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(224 71.4% 4.1%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(224 71.4% 4.1%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(224 71.4% 4.1%);
  --primary: hsl(220.9 39.3% 11%);
  --primary-foreground: hsl(210 20% 98%);
  --secondary: hsl(220 14.3% 95.9%);
  --secondary-foreground: hsl(220.9 39.3% 11%);
  --muted: hsl(220 14.3% 95.9%);
  --muted-foreground: hsl(220 8.9% 46.1%);
  --accent: hsl(220 14.3% 95.9%);
  --accent-foreground: hsl(220.9 39.3% 11%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 20% 98%);
  --border: hsl(220 13% 91%);
  --input: hsl(220 13% 91%);
  --ring: hsl(224 71.4% 4.1%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.5rem;
}
.dark {
  --background: hsl(224 71.4% 4.1%);
  --foreground: hsl(210 20% 98%);
  --card: hsl(224 71.4% 4.1%);
  --card-foreground: hsl(210 20% 98%);
  --popover: hsl(224 71.4% 4.1%);
  --popover-foreground: hsl(210 20% 98%);
  --primary: hsl(210 20% 98%);
  --primary-foreground: hsl(220.9 39.3% 11%);
  --secondary: hsl(215 27.9% 16.9%);
  --secondary-foreground: hsl(210 20% 98%);
  --muted: hsl(215 27.9% 16.9%);
  --muted-foreground: hsl(217.9 10.6% 64.9%);
  --accent: hsl(215 27.9% 16.9%);
  --accent-foreground: hsl(210 20% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(210 20% 98%);
  --border: hsl(215 27.9% 16.9%);
  --input: hsl(215 27.9% 16.9%);
  --ring: hsl(216 12.2% 83.9%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@utility container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  @media (width >= theme(--breakpoint-sm)) {
    max-width: 640px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media (width >= theme(--breakpoint-md)) {
    max-width: 768px;
  }
  @media (width >= theme(--breakpoint-lg)) {
    max-width: 1024px;
  }
  @media (width >= theme(--breakpoint-xl)) {
    max-width: 1280px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  p {
    font-family: var(--font-sans);
    font-weight: 300;
    letter-spacing: -0.02em !important;
    line-height: 1.5 !important;
  }

  h1 {
    font-family: var(--font-diatype);
    font-size: 2.75rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.025em;
    text-shadow: #707c7019 10px 10px 10px;
    line-height: 1;

    @media (width >=theme(--breakpoint-md)) {
      font-size: 3.85rem;
      line-height: 1;
    }
  }

  h2 {
    font-family: var(--font-diatype);
    font-size: 2.25rem;
    line-height: 1.15;
    font-weight: 900;
    letter-spacing: -0.025em;
    @media (width >=theme(--breakpoint-md)) {
      font-size: 2.4rem;
    }
  }

  h3 {
    font-family: var(--font-diatype);
    font-size: 1.9rem;
    line-height: 1.15;
    font-weight: 800;
    letter-spacing: -0.025em;
    @media (width >=theme(--breakpoint-md)) {
      font-size: 2rem;
    }
  }

  h4 {
    font-family: var(--font-diatype);
    font-size: 1.75rem;
    line-height: 1.15;
    font-weight: 800;
    letter-spacing: -0.025em;
    @media (width >=theme(--breakpoint-md)) {
      font-size: 1.5rem;
    }
  }

  h5 {
    font-family: var(--font-diatype);
    font-size: 1.25rem;
    line-height: 1.15;
    font-weight: 800;
    letter-spacing: -0.025em;
    @media (width >=theme(--breakpoint-md)) {
      font-size: 1.25rem;
    }
  }

  h6 {
    font-family: var(--font-diatype);
    font-size: 1rem;
    line-height: 1.15;
    font-weight: 800;
    letter-spacing: -0.025em;
    @media (width >=theme(--breakpoint-md)) {
      font-size: 1rem;
    }
  }
}

@layer components {
  /* Dot pattern background */

  .bg-dots {
    background: radial-gradient(circle, #8383835d 10%, transparent 11%);
    background-size: 1em 1em;

    opacity: 1;
  }

  .bg-faded {
    background: linear-gradient(
      to bottom,
      rgba(123, 129, 123, 0.05),
      var(--background) 50%,
      rgba(129, 136, 129, 0.093)
    );
  }

  /* From Uiverse.io by StealthWorm */
  .loader {
    display: flex;
    width: 8rem;
    height: 8rem;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
  }

  .curve {
    width: 180%;
    height: 180%;
    position: absolute;
    animation: rotate 8s linear infinite;
    fill: transparent;
  }

  .curve text {
    letter-spacing: 20px;
    text-transform: uppercase;
    font: 1.5em "Fira Sans", sans-serif;
    fill: white;
    filter: drop-shadow(0 2px 8px black);
  }

  .blackhole {
    z-index: -1;
    display: flex;
    position: absolute;
    width: 8rem;
    height: 8rem;
    align-items: center;
    justify-content: center;
  }

  .blackhole-circle {
    z-index: 0;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(
      circle at center,
      black 25%,
      white 35%,
      white 100%
    );
    box-shadow: 0px 0px 2rem #c2babb;
    align-items: center;
    justify-content: center;
  }

  .blackhole-circle::after {
    z-index: 0;
    position: absolute;
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid rgb(201, 237, 192);
    background: radial-gradient(
      circle at center,
      rgb(34, 34, 34) 35%,
      rgb(158, 158, 158) 60%,
      rgb(229, 254, 215) 100%
    );
    box-shadow: 0px 0px 5rem #c2babb;
    align-items: center;
    justify-content: center;
    filter: blur(4px);
    animation: pulseAnimation linear infinite 2s alternate-reverse;
  }

  .blackhole-circle::before {
    z-index: 1;
    content: "";
    display: flex;
    width: 12rem;
    height: 12rem;
    border: 2px solid #33731077;
    box-shadow: 3px 3px 10px #b5cfb0, inset 0 0 1rem #7e7e7e;
    border-radius: 50%;
    top: 5rem;
    filter: blur(0.5px);
    animation: rotate linear infinite 1.5s;
  }

  .blackhole-disc {
    position: absolute;
    z-index: 0;
    display: flex;
    width: 12rem;
    height: 20rem;
    border-radius: 50%;
    background: radial-gradient(
      circle at center,
      #ffffff 80%,
      #353535 90%,
      white 100%
    );
    filter: blur(1rem) brightness(130%);
    border: 1rem solid white;
    box-shadow: 0px 0px 3rem #d7c4be;
    transform: rotate3d(1, 1, 1, 220deg);
    animation: pulseAnimation2 linear infinite 1s alternate-reverse;
    justify-content: center;
    align-items: center;
  }

  .blackhole-disc::before {
    content: "";
    position: absolute;
    z-index: 0;
    display: flex;
    width: 12rem;
    height: 30rem;
    border-radius: 50%;
    background: radial-gradient(
      circle at center,
      #c8ffaf 80%,
      #2d302d 90%,
      rgb(214, 252, 212) 100%
    );
    filter: blur(3rem);
    border: 1rem solid rgb(23, 129, 9);
    box-shadow: 0px 0px 6rem #c6d7be;
    animation: pulseAnimation linear infinite 1s alternate-reverse;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes pulseAnimation {
    0% {
      box-shadow: 0px 0px 3rem #c2babb;
      transform: scale(1);
    }

    100% {
      box-shadow: 0px 0px 5rem #c2babb;
      transform: scale(1.09);
    }
  }

  @keyframes pulseAnimation2 {
    0% {
      box-shadow: 0px 0px 3rem #c2babb;
      transform: rotate3d(1, 1, 1, 220deg) scale(1);
    }

    100% {
      box-shadow: 0px 0px 5rem #c2babb;
      transform: rotate3d(1, 1, 1, 220deg) scale(0.95);
    }
  }

  .border-gradient {
    @apply border-x-4 border-border/50 overflow-hidden before:absolute before:left-0 before:top-0 before:z-10 before:h-full before:w-10 before:bg-linear-to-r before:from-primary/5 before:to-transparent before:content-[''] after:absolute after:right-0 after:top-0 after:h-full after:w-10 after:bg-linear-to-l after:from-primary/5 after:to-transparent after:content-[''];
  }
  .bg-bento {
    @apply bg-gradient-to-b from-transparent via-muted/20 to-muted/10 shadow-xl shadow-muted/50;
  }
  .text-gradient {
    @apply text-pretty;
  }
  .text-gradient-primary {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-primary via-primary/80 to-primary/90;
  }
  @keyframes drawCircuit {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  .circuit-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawCircuit 10s linear infinite;
  }

  .animated-cards::before {
    @apply pointer-events-none absolute select-none rounded-3xl opacity-0 transition-opacity duration-300 hover:opacity-100;
    background: radial-gradient(
      1000px circle at var(--x) var(--y),
      #c9ee80 0,
      #eebbe2 10%,
      #adc0ec 25%,
      #c9ee80 35%,
      rgba(255, 255, 255, 0) 50%,
      transparent 80%
    );
    z-index: -1;
    content: "";
    inset: -1px;
  }
  .blog-list a {
    display: block;
    text-align: center;
  }
  .blog-list img {
    max-width: 100%;
    max-height: 300px;
  }
  .blog-list div {
    display: block;
    text-align: center;
  }
  .blog-list img {
    max-width: 100%;
    max-height: 300px;
  }

  .font-tiposka {
    font-family: var(--font-tiposka);
    color: var(--color-accent);
    opacity: 0.8;
    font-weight: 400;
  }
  .font-diatype {
    font-family: var(--font-diatype);
    opacity: 0.9;
    font-weight: 400;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
  }

  .animate-marquee:hover {
    animation-play-state: paused;
  }
  .animate-marquee-vertical {
    animation: marquee-vertical 30s linear infinite;
  }
  .mesh-background {
    background-image: linear-gradient(#78787826 1px, #76767612 1px),
      linear-gradient(to right, #73737324 2px, #8282821b 3px);
    background-size: 6px 6px;
    background-color: transparent;
    background-clip: border-box;
    position: absolute;
    inset: 0;
    z-index: 0;
  }
  .halftone {
    background: #00000000;
    --gap: 1em;
    --line: 0.7px;
    --color: rgba(71, 83, 74, 0.373);

    box-shadow: 0 4px 6px -1px rgba(113, 112, 112, 0.1),
      0 2px 4px -1px rgba(50, 109, 49, 0.06);

    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);
  }

  .tab-button {
    width: 16rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 15px;
    background: #131413;
    border-radius: 10px;
    color: #404140;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: 0.2s;
  }

  .arrow {
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tab-button:hover {
    background-color: rgb(78, 78, 78);
    transition-duration: 0.2s;
  }

  .tab-button:hover .arrow {
    animation: slide-right 0.6s ease-out both;
  }
  /* arrow animation */
  @keyframes slide-right {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .tab-button:active {
    transform: translate(1px, 1px);
    transition-duration: 0.2s;
    filter: brightness(1.2);
    color: rgb(139, 191, 128);
  }

  /* Hide scrollbar until scroll */
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .hide-scrollbar-until-scroll {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    transition: all 0.3s;
  }

  .hide-scrollbar-until-scroll::-webkit-scrollbar {
    width: 0;
    background: transparent;
    transition: all 0.3s;
  }

  .hide-scrollbar-until-scroll:hover::-webkit-scrollbar,
  .hide-scrollbar-until-scroll:focus::-webkit-scrollbar,
  .hide-scrollbar-until-scroll:active::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  .hide-scrollbar-until-scroll:hover::-webkit-scrollbar-thumb,
  .hide-scrollbar-until-scroll:focus::-webkit-scrollbar-thumb,
  .hide-scrollbar-until-scroll:active::-webkit-scrollbar-thumb {
    background: var(--muted);
    border-radius: 4px;
  }
}
